<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>meiyuparttime.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
				<key>dateExpires</key>
				<string>2021/9/12</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AMScrollingNavbar.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AwesomeCache.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CBFlashyTabBarController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DeviceKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Differentiator.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Hue.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JVFloatLabeledTextField.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LKDBHelper.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NSObject_Rx.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reusable.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxAlamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxBlocking.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxDataSources.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>60BB82050C8A6BCE7CC79EB2B691775261E38343</string>
						<key>dateExpires</key>
						<string>2021/9/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>paper_onboarding.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XJ3H7NMPHW</string>
						<key>name</key>
						<string>pingguo zhu</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XJ3H7NMPHW.com.senyas.meiyuparttime</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>XJ3H7NMPHW</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>XJ3H7NMPHW.com.senyas.meiyuparttime</string>
				</array>
			</dict>
			<key>name</key>
			<string>美豫直聘.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>991addcd-b540-488b-ad96-78b122f10819</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.senyas.meiyuparttime</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XJ3H7NMPHW</string>
				<key>name</key>
				<string>pingguo zhu</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
